* {
  margin: 0;
  padding: 0;
  }

body {
  background-image: url("Assets/Homepage-background-blur.png");
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  max-height: max-content;
  background-size:cover;
  background-attachment: fixed;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.logo {
  display: flex;
  justify-content: center;
}

#logo {
  display: flex;
  justify-content: center;
  max-width: 100%;
  background-position: center;
  max-width: 100%;
}

.search {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 30px
}

#pokemonSearch {
  text-align: center;
}

.pokedexWithSprite {
  display: flex;
  justify-content: center;
}

.pokedexWithSprite {
  width: 100%;
  height: 500px;
  margin-bottom: 55px;
}

.picture {
  z-index: 10;
}

#spritePic {
  position: absolute;
  margin-top: 240px;
  margin-left: 225px;
  max-width: 250px;
  display: flex;
  justify-content: center;
}

#name {
  margin-right: 20px;
  margin-left: 20px;
}

#idNum {
  margin-right: 20px;
  margin-left: 20px;
}

#pokeWeight {
  margin-right: 20px;
  margin-left: 20px;
}

.stats {
  margin-right: 20px;
  margin-left: 20px;
}

.type {
  margin-right: 20px;
  margin-left: 20px;
  text-transform: capitalize;
}

.Entry {
  display:flex;
  background-color: rgb(204, 224, 255, 0.8);
  margin-top: 0px;
  margin-bottom: 0px; 
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

